@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;700&display=swap");
body {
  width: auto;
  height: 1024px;

  background: #172755;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
}

#exit {
  display:flex;
  color: #f1ecee;
  font-size: 30px;
  cursor: pointer;
  width: 68px;
  height: 39px;
  
  text-decoration: none;
  border: 3px solid #ef2a82;
  border-radius: 5px;
}
/* label{
  color: #ef2a82;
  font-weight: bold;
} */
.main_title {
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  letter-spacing: 0.12em;
  text-decoration-line: underline;

  color: #ffffff;

  text-shadow: -5px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.date_of_cre,
.deadline,
.status,
.articl,
.load_text,
.load_foto 
{
  display: flex;
}

.title_block_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.title_block_data {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* border: 1px solid rgba(11, 20, 242, 0.88); */
}
.title_block_deadline {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* border: 1px solid rgba(11, 20, 242, 0.88); */
}
.title_block_status {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* border: 1px solid rgba(11, 20, 242, 0.88); */
}
.title_block_articl {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* border: 1px solid rgba(11, 20, 242, 0.88); */
}
.title_block_loading_text {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  letter-spacing: 0.03em;

  color: #ffffff;

  /* border: 1px solid #0b14f2; */
}
.title_block_loading_foto {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* border: 1px solid rgba(11, 20, 242, 0.88); */
}
.title_block_send {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* border: 1px solid rgba(11, 20, 242, 0.88); */
}

#date_of,
#deadline,
#status,
#text,
#foto

{
  width: 110px;
  height: 58px;
  background: #ffffff;
  border: 3px solid #ef2a82;
  box-shadow: -5px 8px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 13px;
}


#send {
  width: 64px;
  height: 64px;
   
  background: #cc0d93;
  border: 3px solid #ef2a82;
  box-shadow: -5px 8px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}

#title_articl {
  width: 474px;
  height: 58px;
  font-size: 20px;
  border: 3px solid #ef2a82;
  background: #ffffff;
  box-shadow: -5px 8px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#todo {
  color: #ffffff;
  border: 3px solid #ef2a82;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding-right: 15px;
  padding-left: 26px;
  padding-bottom: 15px;
  padding-top: 15px;
  list-style-type: none;
}
li{
  color: #f8f7f7;
  padding-bottom: 15px;
  text-decoration: underline;
  letter-spacing: 0.13em;
}

.close{
  color: #ef2a82;
  font-size: 30px;
  cursor: pointer;
}